@font-face {
	font-family: 'Norse-Bold';
	src: url('font/Norse-Bold.otf'); 
	src: 
		local('Norse Bold Font'),
		local('Norse-Bold'),
		url('font/Norse-Bold.otf') 
		format('OpenType');
	font-weight: bold;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Poppins', serif
}

.content{
    width: 100vw;
    height: 100vh;
}


/* left */
.picture {
    background-image: url(fern.avif);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;
}

.left {
    padding-left: 3vw;
}

.odin, 
.content {
    display: flex;
    flex-flow: row wrap;
}

.odin-icon {
    height: 10vh;
}

.odin-text {
    font: 'Norse-Bold', 'Poppins', serif;
    color: white;
}

.odin {
    background-color: rgb(0, 0, 0 / 0.9);
    position: relative;
    top: 20vh;
    gap: 1vw;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    height: auto;
}


/* right */


.right {
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.header{
    font-weight: 500;
    width: 90%;
    font-size: 1.2rem;
    padding-left: 3vw;
    /* padding-top: 10vw; */
}

.want-text{
    margin: 40px 0 80px;
}

label{
    font-weight: 600;
    letter-spacing: 1.5px;
}

/* form */
.body {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.input {
    display: flex;
    flex-flow: column wrap;
    width: 37%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 100%;
}

input{
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

input:focus{
    outline: none;
    border: 2px solid blue;
}


.title {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
}


button {
  align-items: center;
  background-color: #596D48;
  border-radius: 8px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  border-color: #596D48;
}

.login {
    display: flex;
    gap: 5px;
}

.create-button,
.login {
    padding-top: 10px;
    gap: 5px;
}

a {
    color: #156135fb;
    font-weight: 700;
    text-decoration: none;
}

/* .bottom {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 20px;
} */

@media only screen and (max-width: 600px) {
    .content{
        flex-flow: column;
        height: auto;
        text-align: center;
    }
    .picture {
        width: 100vw;
        height: 15vh;
        display: flex;
        background-size: 100vw;
    }
    .odin-icon {
        width: 100vw;
        position: static;
        gap: 10px;
    }
    .right{
        width: auto;
        height: auto;
    }
    .header{
        width: auto;
        margin-top: 30px;
    }
    .body{
        padding: 10px 20px;
    }
    .want-text{
        padding: 20px 0;
        margin: 0;
    }
    .body{
        flex-flow: column nowrap;
        align-items: center;
    }
    .input{
        text-align: left;
        width: auto;
        font-size: 0.9em;
        justify-content: center;
        align-items: center;
    }
    input{
        font-size: 0.9rem;
        height: 1.5rem;
        width: 70vw;
    }
    .create-button,
    .login{
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }
    button{
        margin-bottom: 0px;
        width: 60vw;
        padding: 10px 5px;
    }
}